<!DOCTYPE html>
<html ng-app="consumerApp">
<head>
  <link rel="stylesheet" href="lib/css/bootstrap.min.css">  
  <!-- Latest compiled and minified JavaScript -->
  <script src="lib/js/angular.min.js"></script>
  <script src="employee-controller.js"></script>
</head>
<body ng-controller="mainController">
<div class="row">
  <div class="col-sm">
    <div class="card">
        <h2 class="card-title" style="background-color:rgb(236, 150, 78);color: white; text-align: center">Events</h2>
        <ul class="list-group" ng-repeat="(key, value) in events">
          <div class="list-item">
            <button class="btn btn-success" style="width: 100%; border-radius: 0" ng-click="applyEvent(key)">Apply Event {{key}} - Version {{value.Version}}</button>
          </div>
        </ul>
        <button class="btn btn-active" style="width: 100%; border-radius: 0" ng-click="reset()">Reset</button>
      </div>        
    </div>
    <div class="col-md">
      <div class="card">
          <h2 class="card-title" style="background-color:rgb(70, 197, 70);color: white; text-align:center;">Employee Info</h2>
          <div class="list-group" ng-repeat="(key, value) in props">
            <div class="list-item"  style="background-color:rgb(255, 255, 255);color: rgb(0, 0, 0);">{{value}}: {{data[value]}}</div>
          </div>
      </div>
    </div>
</div>  
</body>
</html>
